@model Webapp.Models.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<h4>Вход</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Эл. почта</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Register" asp-controller="Account">Регистрация</a>
</div>
