HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*/.mvn/wrapper/

ddss-device/src/main/protoc.exe
ddss-storage/src/test/protoc.exe

deployment/ddss-catalog/ddss-catalog-0.0.1.jar
deployment/ddss-storage/ddss-storage-0.0.1.jar
deployment/ddss-device/ddss-device-0.0.1.jar
