@model IEnumerable<Webapp.Models.SensorNameViewModel>

@{
    ViewData["Title"] = "Список датчиков";
}

<h1>Список датчиков</h1>

<p>
    <a asp-action="Create">Создать новый датчик</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SensorId">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
