@model Webapp.Models.Experiments.ExperimentEditViewModel

@{
    ViewData["Title"] = "Редактировать эксперимент";
}

<h4>Редактировать эксперимент</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ExperimentId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Metadata" class="control-label"></label>
                <input asp-for="Metadata" class="form-control" />
                <span asp-validation-for="Metadata" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExperimentSensorName" class="control-label"></label>
                <a asp-controller="Sensors"
                   asp-action="Details"
                   asp-route-id="@Model.ExperimentSensorId">
                    @Html.DisplayFor(model => model.ExperimentSensorName)
                </a>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Delete" asp-route-id="@Model.ExperimentId">Удалить</a> |
    <a asp-action="Index">Вернуться к списку экспериментов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
